################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Fluid Dynamics Simulation cuda v1.0/Release
/Fluid Dynamics Simulation cuda v1.0/x64
/Fluid Dynamics Simulation cuda v1.0/Fluid Dynamics Simulation cuda v1.0.vcxproj.user
/Fluid Dynamics Simulation cuda v1.0/Fluid Dynamics Simulation cuda v1.0.vcxproj.filters
/Fluid Dynamics Simulation cuda v1.0/Fluid Dynamics Simulation cuda v1.0.vcxproj.anguelina.nvuser
/Fluid Dynamics Simulation cuda v1.0/Colour3.cpp
/x64
/Fluid Dynamics Simulation cuda v1.0/freeglut.lib
/Fluid Dynamics Simulation cuda v1.0/freeglut.dll
